{% extends "shop/base_generic.html" %}

{% load static %}

{% block content %}
<div id="sidebar">
    <h3>Categories</h3>
    <ul>
        <li {% if not category %} class="selected" {% endif %}>
            <a href="{% url 'shop:product_list' %}">All</a>
        </li>
        {% for c in categories %}
        <li {% if category.slug == c.slug %} class="selected" {% endif %}>
            <a href="{{c.get_absolute_url}}">{{c.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="product-detail">
    <h1> {% if product %}{{ product }}{% else %}Products{% endif %}</h1>
    <div class="item">
        <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static " img/no_image.png" %} {% endif %}">
        <div class="description">{{product.description}}</div>
        <div class="availbl">{%if product.available %} Available {% else %} On sale soon {%endif%}</div>
        <div class="price">${{product.price}}</div>
    </div>
</div>
{% endblock %}