{% extends "shop/base_generic.html" %}

{% block login %}
    <form id="myForm" action="shop_register" method="post">
        {% csrf_token %}
        {% for field in form %}
            <label for="">{{field.label}}</label>
            <div>{{field}}</div>
            {% if field.errors %}
                <p>{{field.errors}}</p>
            {% endif %}
        {% endfor %}
        <p id='error-mail'></p>
        <button type="submit">Register</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
    <script>
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
    </script>
{% endblock %}






